.imagens{
  display: flex;
  justify-content: center;
  border: solid 1px #ffffff;
  padding: 15px;
  flex-wrap: wrap;
}

.imagens .card{
  max-width: "300px";
  margin: 20px;
  border: solid 5px rgb(255, 93, 110);
  border-radius: 5px;
}

.imagens .card .img{
  object-fit: cover;
  width: 300px;
}